// src/assets/styles/_variables.scss

// Farben für Dark und Light Mode
$background-color-light: #ffffff;
$background-color-dark: #121212;
$text-color-light: #000000;
$text-color-dark: #ffffff;
$primary-color: #1976D2;
$accent-color: #82B1FF;
$text-color: #ffffff;

